// ----------------------------------------------------------------------------
// This file contains styles for full width site section.
// ----------------------------------------------------------------------------

.section {
  width: 100%;
}

.section-header {
  margin-top: 42px;
  margin-bottom: 32px;
}