// ----------------------------------------------------------------------------
// This file contains pagination styles
// ----------------------------------------------------------------------------

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  list-style: none;

  li {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: $border-rounded;
    background-color: #f1f1f1;
    color: $color-tertiary;
    font-weight: $fw-medium;
    font-size: 14px;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  a:hover,
  li.active > a {
    color: $color-primary !important;
    font-size: 16px;
  }

  li.active > a {
    background-color: $accent-color;
  }

  .prev > a,
  .next > a {
    width: 60px;
    height: auto;
    background-color: transparent;

    &:hover {
      font-size: 14px;
    }
  }

  .prev > a {
    justify-content: flex-end;
  }

  li + li {
    margin-left: 12px;
  }

  li.disabled > a {
      color: #a7a9bb;
  }
}
