<div class="subnav center" id="manufacturers-nav">
  <div class="category">
    <ul>
      <li><a href="#">Ametek</a></li>
      <li><a href="#">Kimray Inc.</a></li>
      <li><a href="#">Magnetrol</a></li>
      <li><a href="#">Rueger</a></li>
      <li><a href="#">SCADA Stardom</a></li>
      <li><a href="#">United Electric Controls</a></li>
      <li><a href="#">WIKA</a></li>
      <li><a href="#">РОСМА</a></li>
      <li><a href="#">OMUV</a></li>
      <li><a href="#">P&F Process Automation</a></li>
      <li><a href="#">P&F Factory Automation</a></li>
      <li><a href="#">ADVANTIX</a></li>
    </ul>
  </div>
</div>