<div class="subnav" id="products-nav" style="width: 990px; height: 530px">
  <div class="category">
    <span class="category-header">Давление</span>
    <ul>
      <li><a href="#">Манометры</a></li>
      <li><a href="#">Реле давления</a></li>
      <li><a href="#">Датчики давления</a></li>
      <li><a href="#">Термоманометры</a></li>
      <li><a href="#">Калибраторы</a></li>
      <li><a href="#">Аксессуары</a></li>
    </ul>
  </div>
  <div class="category">
    <span class="category-header">Уровень</span>
    <ul>
      <li><a href="#">Уровнемеры</a></li>
      <li><a href="#">Реле уровня</a></li>
      <li><a href="#">Указатели уровня</a></li>
      <li><a href="#">Аксессуары</a></li>
    </ul>
  </div>
  <div class="category">
    <span class="category-header">Температура</span>
    <ul>
      <li><a href="#">Термометры</a></li>
      <li><a href="#">Реле температуры</a></li>
      <li><a href="#">Датчики температуры</a></li>
      <li><a href="#">Многозонные термопары</a></li>
      <li><a href="#">Поверхностные термопары</a></li>
      <li><a href="#">Термогильзы</a></li>
      <li><a href="#">Термоманометры</a></li>
      <li><a href="#">Калибраторы</a></li>
    </ul>
  </div>
  <div class="category">
    <span class="category-header">Расход</span>
    <ul>
      <li><a href="#">Расходомеры газа</a></li>
      <li><a href="#">Расходомеры</a></li>
      <li><a href="#">Реле расхода</a></li>
      <li><a href="#">Аксессуары</a></li>
    </ul>
  </div>
  <div class="category">
    <span class="category-header">Другое</span>
    <ul>
      <li><a href="#">Искробезопасные барьеры</a></li>
      <li><a href="#">Преобразователи сигналов</a></li>
      <li><a href="#">Регуляторы давления газа</a></li>
      <li><a href="#">Датчики приближения</a></li>
      <li><a href="#">Энкодеры, шифраторы, дальномеры</a></li>
      <li><a href="#">Промышленные гаджеты</a></li>
      <li><a href="#">Промышленные компьютеры</a></li>
      <li><a href="#">Комплектующие для газовых турбин</a></li>
      <li><a href="#">Кабельные вводы</a></li>
      <li><a href="#">Взрывозащищённые коробки и аксессуары</a></li>
      <li><a href="#">Система управления STARDOM</a></li>
    </ul>
  </div>
</div>
