<div class="filters-bar">
  <span>Выбрать производителя:</span>
  <form action="">
    <ul class="filters">
      <li class="custom-checkbox">
        <input type="checkbox" id="rueger">
        <label for="rueger">Rüeger</label>
      </li>
      <li class="custom-checkbox">
        <input type="checkbox" id="rosma">
        <label for="rosma">РОСМА</label>
      </li>
    </ul>
    <div class="selected">
      <span>Выбрано: 12</span>
      <button type="submit">Показать</button>
    </div>
  </form>
</div>