<footer class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-2">
        <div class="row footer-contacts">
          <div class="col-12 col-md-4 col-lg-6">
            <span>Адрес:</span>
            <p>107076, Россия, г.&nbsp;Москва,<br>ул.&nbsp;Краснобогатырская,<br>дом&nbsp;89, стр.&nbsp;1, офис&nbsp;600</p>
          </div>
          <div class="col-12 col-md-4 col-lg-6 order-lg-3">
            <span>Email:</span>
            <p>sales@cis-automation.ru</p>
          </div>
          <div class="col-12 col-md-4 col-lg-6">
            <span>Телефон:</span>
            <p>
              +7 (495) 748-78-13<br>
              +7 (495) 964-18-92<br>
              +7 (495) 962-05-64
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="footer-logo"></div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 order-3">
        <div class="subscribe">
          <p>
            Подпишитесь на рассылку, чтобы
            не пропустить последние новости
            и полезные материалы от специалистов
            нашей компании.
          </p>

          <form action="">
            <div class="input-group">
              <input type="text" placeholder="Введите Email">
              <button>Подписаться</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="copyright">
          © 2001 - 2018 © «Си Ай Эс Автоматизация»
        </p>
      </div>

      <div class="col-md-6">
        <p class="created-by">
          Создание сайта: <a href="#">«Веб Гармония»</a>
        </p>
      </div>
    </div>
  </div>
</footer>