<header class="section">
  <div class="container">
    <div class="wrapper-left">
      <a href="./index.html">
        <div class="header-logo"></div>
      </a>
      <div class="header-brand">Поставщик промышленного <nobr>контрольно-измерительного</nobr> и&nbsp;<nobr>контрольно-регулирующего</nobr> оборудования</div>
    </div>

    <div class="wrapper-right">
      <form action="" class="header-search">
        <div class="input-group">
          <input type="text">
          <button>Поиск</button>
        </div>
      </form>

      <div class="header-contacts">
        <div>sales@cis-automation.ru</div>
        <div><span>+7 (495)</span> 748-78-13</div>
      </div>
    </div>
  </div>
</header>