<div class="section section-navbar">
  <div class="container">
    <div class="navbar">
      <button class="navbar-toggler js-toggler" data-target="#nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <nav id="nav">
        <ul>
          <li>
            <a href="./about.html">О компании</a>
            <span class="subnav-toggler js-toggler" data-target="#about-nav"></span>
            {% include "subnavs/about.njk" %}
          </li>
          <li>
            <a href="./products.html">Продукция</a>
            <span class="subnav-toggler js-toggler" data-target="#products-nav"></span>
            {% include "subnavs/products.njk" %}
          </li>
          <li>
            <a href="./manufacturers.html">Производители</a>
            <span class="subnav-toggler js-toggler" data-target="#manufacturers-nav"></span>
            {% include "subnavs/manufacturers.njk" %}
          </li>
          <li>
            <a href="./documentation.html">Документация</a>
          </li>
          <li>
            <a href="./feedback.html">Отзывы</a>
          </li>
          <li>
            <a href="./contacts.html">Контакты</a>
          </li>
        </ul>

        <button class="close js-toggler" data-target="#nav">закрыть</button>
      </nav>

      <div class="navbar-brand">Поставщик промышленного <nobr>контрольно-измерительного</nobr> и&nbsp;<nobr>контрольно-регулирующего</nobr> оборудования</div>
    </div>
  </div>
</div>
